In [12]:
import pandas as pd
import numpy as np

from sklearn.svm import SVC

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

## Loading data

The data is that of the AA1 competition, but preprocessed to remove outliers and make boxcox transformations over variables. I will simply apply a standardizing scaling over the data.

The variable to be predicted is "target" which is a binary variable, and it is unbalanced (there are more sick individuals than healthy individuals).

In [20]:
data = pd.read_csv("boxcox_ILDS.csv", delimiter = ",", )
data.head()

,Unnamed: 0,Age,Female,TP,ALB,AR,target,DBratio,TB,DB,Alkphos,Sgpt,Sgot
0,0,48,0,7.0,2.4,0.52,0,0.511111,0.919515,0.720861,1.300462,1.474638,1.944906
1,1,39,0,7.4,4.3,1.38,0,0.473684,0.514218,-0.107360,1.293045,1.736198,1.916642
2,2,23,0,6.2,3.1,1.00,0,0.300000,0.000000,-1.502881,1.296045,1.732173,1.956686
3,3,42,1,6.2,3.2,1.06,0,0.285714,-0.406539,-2.172204,1.289529,1.704551,1.958526
4,4,52,1,6.9,3.3,0.90,1,0.166667,-0.617158,-3.565640,1.294465,1.393071,1.518669

In [21]:
data = data.drop(columns = "Unnamed: 0")
data.describe()
data.columns

Index(['Age', 'Female', 'TP', 'ALB', 'AR', 'target', 'DBratio', 'TB', 'DB',
       'Alkphos', 'Sgpt', 'Sgot'],
      dtype='object')

In [18]:
X = np.ndarray(data.loc[:, data.columns != "target"])
y = np.ndarray(data["target"])

def preprocess (X, y, scaler = None):
    if scaler == None:
        scaler = StandardScaler()
        X_scale = scaler.fit_transform(X)
    else:
        X_scale = scaler.transform(X)
    return X_scale, y, scaler

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

TypeError: 'str' object cannot be interpreted as an integer